name: honest
description: "A new Flutter project."

publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ^3.7.0

dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.8
  get: ^4.7.3
  google_mobile_ads: ^6.0.0
  shared_preferences: ^2.5.4
  flutter_screenutil: ^5.9.3
  shimmer: ^3.0.0
  firebase_auth: ^6.1.3
  firebase_core: ^4.3.0
  cached_network_image: ^3.4.1
  firebase_analytics: ^12.1.0
  connectivity_plus: ^7.0.0
  json_annotation: ^4.9.0
  url_launcher: ^6.3.2
  flutter_local_notifications: ^19.5.0
  flutter_svg: ^2.2.3
  google_sign_in: ^6.2.1
  cloud_firestore: ^6.1.1


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0
  json_serializable: ^6.11.3
  build_runner: ^2.10.4


flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/icons/
  fonts:
    - family: Poppins
      fonts:
        - asset: assets/fonts/Poppins-Light.ttf
          weight: 300
        - asset: assets/fonts/Poppins-Regular.ttf
          weight: 400
        - asset: assets/fonts/Poppins-Medium.ttf
          weight: 500
        - asset: assets/fonts/Poppins-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/Poppins-Bold.ttf
          weight: 700